@media only screen and (min-width: 200px) and (max-width: 575px) {
    .btn-outer {
        position: fixed;
        bottom: 0px;
        justify-content: center !important;
    }


    .whatsappBtn,
    .call {
        padding: 7px 15px;
        font-size: 14px;
    }

    .bannerContent h1 {
        font-size: 28px;
        font-weight: 700;

    }

    .bannerContent br {
        display: none;
    }

    .bannerContent p,
    .bannerContent ul li {
        font-size: 10px;
    }

    .bannerContentBtn {
        flex-direction: column;
    }

    .bannerContentBtn button {
        width: 100%;
    }

}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xxl {
        max-width: 1170px;
    }
}